[project]
	description = SPOJ like judge to automatically judge the submitted solution.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pushkar Anand (pushkar8723)
[access "refs/for/refs/*"]
	read = group user/Pushkar Anand (pushkar8723)
	push = group user/Pushkar Anand (pushkar8723)
	label-Code-Review = -2..+2 group user/Pushkar Anand (pushkar8723)
	label-Verified = -1..+1 group user/Pushkar Anand (pushkar8723)
	rebase = group user/Pushkar Anand (pushkar8723)
	removeReviewer = group user/Pushkar Anand (pushkar8723)
	submit = group user/Pushkar Anand (pushkar8723)
[access "refs/heads/*"]
	read = group user/Pushkar Anand (pushkar8723)
	create = group user/Pushkar Anand (pushkar8723)
	push = +force group user/Pushkar Anand (pushkar8723)
	pushMerge = group user/Pushkar Anand (pushkar8723)
[access "refs/tags/*"]
	push = +force group user/Pushkar Anand (pushkar8723)
	pushTag = group user/Pushkar Anand (pushkar8723)
	pushSignedTag = group user/Pushkar Anand (pushkar8723)
